@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: theme("colors.gray.900");
}

.ot-black {
  color: #303947;
}

.step {
  width: 272px;
  padding: 12px 14px;
  border-radius: 14px;
}

.step-trigger {
  background: theme("colors.gray.100");
}

.step-message-brand {
  background: #ffffff;
  stroke-width: 0.5px;
  stroke: #edeff1;
  filter: drop-shadow(0px 0px 1.045px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 1.045px 1.045px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 3.136px 2.091px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 5.226px 2.091px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.362px 2.091px rgba(0, 0, 0, 0));
}

.step-message-brand:hover {
  opacity: 0.65;
}

.step-message-terminal {
  background: theme("colors.gray.900");
  filter: drop-shadow(0px 0px 1.045px rgba(0, 0, 0, 0.08))
    drop-shadow(0px 1.045px 1.045px rgba(0, 0, 0, 0.07))
    drop-shadow(0px 3.136px 2.091px rgba(0, 0, 0, 0.04))
    drop-shadow(0px 5.226px 2.091px rgba(0, 0, 0, 0.01))
    drop-shadow(0px 8.362px 2.091px rgba(0, 0, 0, 0));
}

.step-message-terminal:hover {
  opacity: 0.8;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox and IE */
.scrollbar-none {
  scrollbar-width: none; /* Firefox 64 */
  -ms-overflow-style: none; /* IE 10 */
}

.subtle-shadow {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.01), 0px 2px 1px rgba(0, 0, 0, 0.02),
    0px 1px 1px rgba(0, 0, 0, 0.03), 0px 0px 0px rgba(0, 0, 0, 0.04),
    0px 0px 0px rgba(0, 0, 0, 0.04);
}

.ot-ring {
  box-sizing: border-box;
}

.ot-ring:hover,
.ot-ring:focus {
  box-shadow: 0 0 0 1px #e9f1ff;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .ot-ring:hover,
  .ot-ring:focus {
    box-shadow: 0 0 0 0.5px #d4e4ff;
  }
}

.high-res-ring {
  box-sizing: border-box;
}

.high-res-ring:hover,
.high-res-ring:focus {
  box-shadow: 0 0 0 1px theme("colors.gray.200");
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .high-res-ring:hover,
  .high-res-ring:focus {
    box-shadow: 0 0 0 0.5px theme("colors.gray.300");
  }
}

input::placeholder,
textarea::placeholder {
  color: theme("colors.neutral.300");
}
